.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width:500px;
  margin: center;
  text-align: left;
  font-family: arial;
}

.container {
  padding: 5 5px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

#title {
  color: grey;
  font-size: 18px;
}
p {
    font-size: 18px;
}
