<link rel="stylesheet" type="text/css" href="/apps/contacts/components/content/contact/card.css">


<div class="card">

    <div class="container">

        <div data-sly-test="${!properties.selectedContact}">
        Select the path to the contact file!
        </div>

        <sly data-sly-use.contact="${'contact.js' @ link=properties.selectedContact}"/>

        <h3 id = "name" data-sly-test="${property.selectedContact}">${contact.name @ context  ='unsafe'}</h3>

        <p id = "title" data-sly-test="${properties.selectedContact}">${contact.title @ context='unsafe'}</p>

        <p id ="position" data-sly-test="${properties.selectedContact}">${contact.position @ context='unsafe'}</p>

        <p><strong>Department: </strong></p>
        <p id = "department" data-sly-test="${properties.selectedContact}">${contact.department @ context='unsafe'}</p>

        <p><strong>Phone: </strong></p>
        <p id = "phone" data-sly-test="${properties.selectedContact}">${contact.phone @ context='unsafe'}</p>

        <p><strong>Address: </strong></p>
        <p id = "address" data-sly-test="${properties.selectedContact}">${contact.address @ context='unsafe'}</p>

        <p><strong>e-mail: </strong></p>
        <p id = "email" data-sly-test="${properties.selectedContact}">${contact.email @ context='unsafe'}</p>
        </div>
    </div>


<!--
<link rel="stylesheet" type="text/css" href="/apps/contacts/components/content/contact/card.css">


<div class="card">

    <div class="container">

        <div data-sly-test="${!properties.selectedContact}">
        Select the path to the contact file!
        </div>

        <div data-sly-test="${properties.selectedContact}">

            <sly data-sly-use.contactUse="${'au.edu.sydney.contacts.core.ContactUse' @ link=properties.selectedContact}"></sly>

            <p>Selected contact path: ${contactUse.selectedContact}</p>

            <div data-sly-test.userInfoObject="${contactUse.userInfo}">
                <h3>${userInfoObject.name}</h3>
            </div>

            <div data-sly-test.userInfoObject="${contactUse.userInfo}">
                <h3>${userInfoObject.position}</h3>
            </div>

            <table>
                <tr>
                    <th><p><strong>Department: </strong></p></th>
                    <th><div data-sly-test.userInfoObject="${contactUse.userInfo}"><h3>${userInfoObject.department}</h3></div></th>
                </tr>
                <tr>
                    <th><p><strong>Phone: </strong></p></th>
                    <th><div data-sly-test.userInfoObject="${contactUse.userInfo}"><h3>${userInfoObject.phone}</h3></div></th>
                </tr>
                <tr>
                    <th><p><strong>Address: </strong></p></th>
                    <th><div data-sly-test.userInfoObject="${contactUse.userInfo}"><h3>${userInfoObject.address}</h3></div></th>
                </tr>
                <tr>
                    <th><p><strong>e-mail: </strong></p></th>
                    <th><div data-sly-test.userInfoObject="${contactUse.userInfo}"><h3>${userInfoObject.email}</h3></div></th>
                </tr>
            </table>
        </div>
    </div>
</div>

-->